body {
    font-family: miranafont, "Hiragino Sans GB", STXihei, "Microsoft YaHei", SimSun, sans-serif;
}

body::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    will-change: transform;
    z-index: -1;
    background-image: url('/');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
}

.content {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.content::before {
    content: '';
    position: absolute;
    will-change: transform;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url(grid.png);
    background-attachment: fixed;
}

.warp {
    color: #EAEADF;
    padding: 4px 10px;
    border-radius: 13px;
    background: rgba(0, 0, 0, .7);
}

h3 {
    margin: 10px 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
    color: #eee;
    font-weight: normal;
    font-size: 21px;
    line-height: 1.5;
}

h3:before {
    content: "「";
    margin-right: 5px;
    color: #FF6D6D;
}

h3:after {
    content: "」";
    margin-left: 5px;
    color: #FF6D6D;
}

li {
    font-size: 16.8px;
    margin: 10px 0;
}
